{% extends './base.html' %} {% block title %} Index {% endblock %} {% block body %}
<div class="row">
    <div class="col-md-12 offset-md-0">
        <br>
        <h4>
            <center><b>DATOS NUTRISCORE</b></center>
        </h4><br>

        <center>
            <form class="" action="data" method="post">
                <input type="file" name="upload-file" value="Calcular" class="btn btn-outline-danger">
                <input type="submit" name="" value="Formato" class="btn btn-outline-success">
            </form>
        </center>
        {% endblock %}